<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ssm.mapper.CarseriesMapper" >
  <resultMap id="BaseResultMap" type="ssm.pojo.Carseries" >
    <id column="seriesId" property="seriesid" jdbcType="INTEGER" />
    <result column="brandId" property="brandid" jdbcType="INTEGER" />
    <result column="seriesName" property="seriesname" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    seriesId, brandId, seriesName
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="ssm.pojo.CarseriesExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from carseries
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from carseries
    where seriesId = #{seriesid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from carseries
    where seriesId = #{seriesid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="ssm.pojo.CarseriesExample" >
    delete from carseries
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="ssm.pojo.Carseries" >
    insert into carseries (seriesId, brandId, seriesName
      )
    values (#{seriesid,jdbcType=INTEGER}, #{brandid,jdbcType=INTEGER}, #{seriesname,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="ssm.pojo.Carseries" >
    insert into carseries
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="seriesid != null" >
        seriesId,
      </if>
      <if test="brandid != null" >
        brandId,
      </if>
      <if test="seriesname != null" >
        seriesName,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="seriesid != null" >
        #{seriesid,jdbcType=INTEGER},
      </if>
      <if test="brandid != null" >
        #{brandid,jdbcType=INTEGER},
      </if>
      <if test="seriesname != null" >
        #{seriesname,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="ssm.pojo.CarseriesExample" resultType="java.lang.Integer" >
    select count(*) from carseries
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update carseries
    <set >
      <if test="record.seriesid != null" >
        seriesId = #{record.seriesid,jdbcType=INTEGER},
      </if>
      <if test="record.brandid != null" >
        brandId = #{record.brandid,jdbcType=INTEGER},
      </if>
      <if test="record.seriesname != null" >
        seriesName = #{record.seriesname,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update carseries
    set seriesId = #{record.seriesid,jdbcType=INTEGER},
      brandId = #{record.brandid,jdbcType=INTEGER},
      seriesName = #{record.seriesname,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="ssm.pojo.Carseries" >
    update carseries
    <set >
      <if test="brandid != null" >
        brandId = #{brandid,jdbcType=INTEGER},
      </if>
      <if test="seriesname != null" >
        seriesName = #{seriesname,jdbcType=VARCHAR},
      </if>
    </set>
    where seriesId = #{seriesid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="ssm.pojo.Carseries" >
    update carseries
    set brandId = #{brandid,jdbcType=INTEGER},
      seriesName = #{seriesname,jdbcType=VARCHAR}
    where seriesId = #{seriesid,jdbcType=INTEGER}
  </update>
</mapper>