<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.CustomerMapper">
  <resultMap id="BaseResultMap" type="pojo.Customer">
    <id column="customerId" jdbcType="INTEGER" property="customerid" />
    <result column="companyId" jdbcType="INTEGER" property="companyid" />
    <result column="customerName" jdbcType="VARCHAR" property="customername" />
    <result column="customerPhone" jdbcType="DECIMAL" property="customerphone" />
    <result column="customerSex" jdbcType="VARCHAR" property="customersex" />
    <result column="customerType" jdbcType="DECIMAL" property="customertype" />
    <result column="customerBirthday" jdbcType="DATE" property="customerbirthday" />
    <result column="customerCreateTime" jdbcType="TIMESTAMP" property="customercreatetime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    customerId, companyId, customerName, customerPhone, customerSex, customerType, customerBirthday, 
    customerCreateTime
  </sql>
  <select id="selectByExample" parameterType="pojo.CustomerExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from customer
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from customer
    where customerId = #{customerid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from customer
    where customerId = #{customerid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="pojo.CustomerExample">
    delete from customer
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="pojo.Customer">
    insert into customer (customerId, companyId, customerName, 
      customerPhone, customerSex, customerType, 
      customerBirthday, customerCreateTime)
    values (#{customerid,jdbcType=INTEGER}, #{companyid,jdbcType=INTEGER}, #{customername,jdbcType=VARCHAR}, 
      #{customerphone,jdbcType=DECIMAL}, #{customersex,jdbcType=VARCHAR}, #{customertype,jdbcType=DECIMAL}, 
      #{customerbirthday,jdbcType=DATE}, #{customercreatetime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="pojo.Customer">
    insert into customer
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="customerid != null">
        customerId,
      </if>
      <if test="companyid != null">
        companyId,
      </if>
      <if test="customername != null">
        customerName,
      </if>
      <if test="customerphone != null">
        customerPhone,
      </if>
      <if test="customersex != null">
        customerSex,
      </if>
      <if test="customertype != null">
        customerType,
      </if>
      <if test="customerbirthday != null">
        customerBirthday,
      </if>
      <if test="customercreatetime != null">
        customerCreateTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="customerid != null">
        #{customerid,jdbcType=INTEGER},
      </if>
      <if test="companyid != null">
        #{companyid,jdbcType=INTEGER},
      </if>
      <if test="customername != null">
        #{customername,jdbcType=VARCHAR},
      </if>
      <if test="customerphone != null">
        #{customerphone,jdbcType=DECIMAL},
      </if>
      <if test="customersex != null">
        #{customersex,jdbcType=VARCHAR},
      </if>
      <if test="customertype != null">
        #{customertype,jdbcType=DECIMAL},
      </if>
      <if test="customerbirthday != null">
        #{customerbirthday,jdbcType=DATE},
      </if>
      <if test="customercreatetime != null">
        #{customercreatetime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="pojo.CustomerExample" resultType="java.lang.Integer">
    select count(*) from customer
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update customer
    <set>
      <if test="record.customerid != null">
        customerId = #{record.customerid,jdbcType=INTEGER},
      </if>
      <if test="record.companyid != null">
        companyId = #{record.companyid,jdbcType=INTEGER},
      </if>
      <if test="record.customername != null">
        customerName = #{record.customername,jdbcType=VARCHAR},
      </if>
      <if test="record.customerphone != null">
        customerPhone = #{record.customerphone,jdbcType=DECIMAL},
      </if>
      <if test="record.customersex != null">
        customerSex = #{record.customersex,jdbcType=VARCHAR},
      </if>
      <if test="record.customertype != null">
        customerType = #{record.customertype,jdbcType=DECIMAL},
      </if>
      <if test="record.customerbirthday != null">
        customerBirthday = #{record.customerbirthday,jdbcType=DATE},
      </if>
      <if test="record.customercreatetime != null">
        customerCreateTime = #{record.customercreatetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update customer
    set customerId = #{record.customerid,jdbcType=INTEGER},
      companyId = #{record.companyid,jdbcType=INTEGER},
      customerName = #{record.customername,jdbcType=VARCHAR},
      customerPhone = #{record.customerphone,jdbcType=DECIMAL},
      customerSex = #{record.customersex,jdbcType=VARCHAR},
      customerType = #{record.customertype,jdbcType=DECIMAL},
      customerBirthday = #{record.customerbirthday,jdbcType=DATE},
      customerCreateTime = #{record.customercreatetime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="pojo.Customer">
    update customer
    <set>
      <if test="companyid != null">
        companyId = #{companyid,jdbcType=INTEGER},
      </if>
      <if test="customername != null">
        customerName = #{customername,jdbcType=VARCHAR},
      </if>
      <if test="customerphone != null">
        customerPhone = #{customerphone,jdbcType=DECIMAL},
      </if>
      <if test="customersex != null">
        customerSex = #{customersex,jdbcType=VARCHAR},
      </if>
      <if test="customertype != null">
        customerType = #{customertype,jdbcType=DECIMAL},
      </if>
      <if test="customerbirthday != null">
        customerBirthday = #{customerbirthday,jdbcType=DATE},
      </if>
      <if test="customercreatetime != null">
        customerCreateTime = #{customercreatetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where customerId = #{customerid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="pojo.Customer">
    update customer
    set companyId = #{companyid,jdbcType=INTEGER},
      customerName = #{customername,jdbcType=VARCHAR},
      customerPhone = #{customerphone,jdbcType=DECIMAL},
      customerSex = #{customersex,jdbcType=VARCHAR},
      customerType = #{customertype,jdbcType=DECIMAL},
      customerBirthday = #{customerbirthday,jdbcType=DATE},
      customerCreateTime = #{customercreatetime,jdbcType=TIMESTAMP}
    where customerId = #{customerid,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="ssm.pojo.Customer">
    <id column="customerId" jdbcType="INTEGER" property="customerid" />
    <result column="companyId" jdbcType="INTEGER" property="companyid" />
    <result column="customerName" jdbcType="VARCHAR" property="customername" />
    <result column="customerPhone" jdbcType="DECIMAL" property="customerphone" />
    <result column="customerSex" jdbcType="VARCHAR" property="customersex" />
    <result column="customerType" jdbcType="DECIMAL" property="customertype" />
    <result column="customerBirthday" jdbcType="DATE" property="customerbirthday" />
    <result column="customerCreateTime" jdbcType="TIMESTAMP" property="customercreatetime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    customerId, companyId, customerName, customerPhone, customerSex, customerType, customerBirthday, 
    customerCreateTime
  </sql>
  <select id="selectByExample" parameterType="ssm.pojo.CustomerExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from customer
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from customer
    where customerId = #{customerid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from customer
    where customerId = #{customerid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="ssm.pojo.CustomerExample">
    delete from customer
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="ssm.pojo.Customer">
    insert into customer (customerId, companyId, customerName, 
      customerPhone, customerSex, customerType, 
      customerBirthday, customerCreateTime)
    values (#{customerid,jdbcType=INTEGER}, #{companyid,jdbcType=INTEGER}, #{customername,jdbcType=VARCHAR}, 
      #{customerphone,jdbcType=DECIMAL}, #{customersex,jdbcType=VARCHAR}, #{customertype,jdbcType=DECIMAL}, 
      #{customerbirthday,jdbcType=DATE}, #{customercreatetime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="ssm.pojo.Customer">
    insert into customer
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="customerid != null">
        customerId,
      </if>
      <if test="companyid != null">
        companyId,
      </if>
      <if test="customername != null">
        customerName,
      </if>
      <if test="customerphone != null">
        customerPhone,
      </if>
      <if test="customersex != null">
        customerSex,
      </if>
      <if test="customertype != null">
        customerType,
      </if>
      <if test="customerbirthday != null">
        customerBirthday,
      </if>
      <if test="customercreatetime != null">
        customerCreateTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="customerid != null">
        #{customerid,jdbcType=INTEGER},
      </if>
      <if test="companyid != null">
        #{companyid,jdbcType=INTEGER},
      </if>
      <if test="customername != null">
        #{customername,jdbcType=VARCHAR},
      </if>
      <if test="customerphone != null">
        #{customerphone,jdbcType=DECIMAL},
      </if>
      <if test="customersex != null">
        #{customersex,jdbcType=VARCHAR},
      </if>
      <if test="customertype != null">
        #{customertype,jdbcType=DECIMAL},
      </if>
      <if test="customerbirthday != null">
        #{customerbirthday,jdbcType=DATE},
      </if>
      <if test="customercreatetime != null">
        #{customercreatetime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="ssm.pojo.CustomerExample" resultType="java.lang.Integer">
    select count(*) from customer
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update customer
    <set>
      <if test="record.customerid != null">
        customerId = #{record.customerid,jdbcType=INTEGER},
      </if>
      <if test="record.companyid != null">
        companyId = #{record.companyid,jdbcType=INTEGER},
      </if>
      <if test="record.customername != null">
        customerName = #{record.customername,jdbcType=VARCHAR},
      </if>
      <if test="record.customerphone != null">
        customerPhone = #{record.customerphone,jdbcType=DECIMAL},
      </if>
      <if test="record.customersex != null">
        customerSex = #{record.customersex,jdbcType=VARCHAR},
      </if>
      <if test="record.customertype != null">
        customerType = #{record.customertype,jdbcType=DECIMAL},
      </if>
      <if test="record.customerbirthday != null">
        customerBirthday = #{record.customerbirthday,jdbcType=DATE},
      </if>
      <if test="record.customercreatetime != null">
        customerCreateTime = #{record.customercreatetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update customer
    set customerId = #{record.customerid,jdbcType=INTEGER},
      companyId = #{record.companyid,jdbcType=INTEGER},
      customerName = #{record.customername,jdbcType=VARCHAR},
      customerPhone = #{record.customerphone,jdbcType=DECIMAL},
      customerSex = #{record.customersex,jdbcType=VARCHAR},
      customerType = #{record.customertype,jdbcType=DECIMAL},
      customerBirthday = #{record.customerbirthday,jdbcType=DATE},
      customerCreateTime = #{record.customercreatetime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="ssm.pojo.Customer">
    update customer
    <set>
      <if test="companyid != null">
        companyId = #{companyid,jdbcType=INTEGER},
      </if>
      <if test="customername != null">
        customerName = #{customername,jdbcType=VARCHAR},
      </if>
      <if test="customerphone != null">
        customerPhone = #{customerphone,jdbcType=DECIMAL},
      </if>
      <if test="customersex != null">
        customerSex = #{customersex,jdbcType=VARCHAR},
      </if>
      <if test="customertype != null">
        customerType = #{customertype,jdbcType=DECIMAL},
      </if>
      <if test="customerbirthday != null">
        customerBirthday = #{customerbirthday,jdbcType=DATE},
      </if>
      <if test="customercreatetime != null">
        customerCreateTime = #{customercreatetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where customerId = #{customerid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="ssm.pojo.Customer">
    update customer
    set companyId = #{companyid,jdbcType=INTEGER},
      customerName = #{customername,jdbcType=VARCHAR},
      customerPhone = #{customerphone,jdbcType=DECIMAL},
      customerSex = #{customersex,jdbcType=VARCHAR},
      customerType = #{customertype,jdbcType=DECIMAL},
      customerBirthday = #{customerbirthday,jdbcType=DATE},
      customerCreateTime = #{customercreatetime,jdbcType=TIMESTAMP}
    where customerId = #{customerid,jdbcType=INTEGER}
  </update>
</mapper>