<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ssm.mapper.FinancingMapper" >
  <resultMap id="BaseResultMap" type="ssm.pojo.Financing" >
    <id column="financingId" property="financingid" jdbcType="INTEGER" />
    <result column="saleId" property="saleid" jdbcType="INTEGER" />
    <result column="repertoryId" property="repertoryid" jdbcType="INTEGER" />
    <result column="financingMoney" property="financingmoney" jdbcType="DECIMAL" />
    <result column="financingType" property="financingtype" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    financingId, saleId, repertoryId, financingMoney, financingType
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="ssm.pojo.FinancingExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from financing
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from financing
    where financingId = #{financingid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from financing
    where financingId = #{financingid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="ssm.pojo.FinancingExample" >
    delete from financing
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="ssm.pojo.Financing" >
    insert into financing (financingId, saleId, repertoryId, 
      financingMoney, financingType)
    values (#{financingid,jdbcType=INTEGER}, #{saleid,jdbcType=INTEGER}, #{repertoryid,jdbcType=INTEGER}, 
      #{financingmoney,jdbcType=DECIMAL}, #{financingtype,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="ssm.pojo.Financing" >
    insert into financing
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="financingid != null" >
        financingId,
      </if>
      <if test="saleid != null" >
        saleId,
      </if>
      <if test="repertoryid != null" >
        repertoryId,
      </if>
      <if test="financingmoney != null" >
        financingMoney,
      </if>
      <if test="financingtype != null" >
        financingType,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="financingid != null" >
        #{financingid,jdbcType=INTEGER},
      </if>
      <if test="saleid != null" >
        #{saleid,jdbcType=INTEGER},
      </if>
      <if test="repertoryid != null" >
        #{repertoryid,jdbcType=INTEGER},
      </if>
      <if test="financingmoney != null" >
        #{financingmoney,jdbcType=DECIMAL},
      </if>
      <if test="financingtype != null" >
        #{financingtype,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="ssm.pojo.FinancingExample" resultType="java.lang.Integer" >
    select count(*) from financing
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update financing
    <set >
      <if test="record.financingid != null" >
        financingId = #{record.financingid,jdbcType=INTEGER},
      </if>
      <if test="record.saleid != null" >
        saleId = #{record.saleid,jdbcType=INTEGER},
      </if>
      <if test="record.repertoryid != null" >
        repertoryId = #{record.repertoryid,jdbcType=INTEGER},
      </if>
      <if test="record.financingmoney != null" >
        financingMoney = #{record.financingmoney,jdbcType=DECIMAL},
      </if>
      <if test="record.financingtype != null" >
        financingType = #{record.financingtype,jdbcType=DECIMAL},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update financing
    set financingId = #{record.financingid,jdbcType=INTEGER},
      saleId = #{record.saleid,jdbcType=INTEGER},
      repertoryId = #{record.repertoryid,jdbcType=INTEGER},
      financingMoney = #{record.financingmoney,jdbcType=DECIMAL},
      financingType = #{record.financingtype,jdbcType=DECIMAL}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="ssm.pojo.Financing" >
    update financing
    <set >
      <if test="saleid != null" >
        saleId = #{saleid,jdbcType=INTEGER},
      </if>
      <if test="repertoryid != null" >
        repertoryId = #{repertoryid,jdbcType=INTEGER},
      </if>
      <if test="financingmoney != null" >
        financingMoney = #{financingmoney,jdbcType=DECIMAL},
      </if>
      <if test="financingtype != null" >
        financingType = #{financingtype,jdbcType=DECIMAL},
      </if>
    </set>
    where financingId = #{financingid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="ssm.pojo.Financing" >
    update financing
    set saleId = #{saleid,jdbcType=INTEGER},
      repertoryId = #{repertoryid,jdbcType=INTEGER},
      financingMoney = #{financingmoney,jdbcType=DECIMAL},
      financingType = #{financingtype,jdbcType=DECIMAL}
    where financingId = #{financingid,jdbcType=INTEGER}
  </update>
</mapper>