<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.RepertoryMapper">
  <resultMap id="BaseResultMap" type="pojo.Repertory">
    <id column="repertoryId" jdbcType="INTEGER" property="repertoryid" />
    <result column="carId" jdbcType="INTEGER" property="carid" />
    <result column="companyId" jdbcType="INTEGER" property="companyid" />
    <result column="purchasePrice" jdbcType="DECIMAL" property="purchaseprice" />
    <result column="inTime" jdbcType="DATE" property="intime" />
    <result column="repertoryNum" jdbcType="DECIMAL" property="repertorynum" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    repertoryId, carId, companyId, purchasePrice, inTime, repertoryNum
  </sql>
  <select id="selectByExample" parameterType="pojo.RepertoryExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from repertory
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from repertory
    where repertoryId = #{repertoryid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from repertory
    where repertoryId = #{repertoryid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="pojo.RepertoryExample">
    delete from repertory
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="pojo.Repertory">
    insert into repertory (repertoryId, carId, companyId, 
      purchasePrice, inTime, repertoryNum
      )
    values (#{repertoryid,jdbcType=INTEGER}, #{carid,jdbcType=INTEGER}, #{companyid,jdbcType=INTEGER}, 
      #{purchaseprice,jdbcType=DECIMAL}, #{intime,jdbcType=DATE}, #{repertorynum,jdbcType=DECIMAL}
      )
  </insert>
  <insert id="insertSelective" parameterType="pojo.Repertory">
    insert into repertory
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="repertoryid != null">
        repertoryId,
      </if>
      <if test="carid != null">
        carId,
      </if>
      <if test="companyid != null">
        companyId,
      </if>
      <if test="purchaseprice != null">
        purchasePrice,
      </if>
      <if test="intime != null">
        inTime,
      </if>
      <if test="repertorynum != null">
        repertoryNum,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="repertoryid != null">
        #{repertoryid,jdbcType=INTEGER},
      </if>
      <if test="carid != null">
        #{carid,jdbcType=INTEGER},
      </if>
      <if test="companyid != null">
        #{companyid,jdbcType=INTEGER},
      </if>
      <if test="purchaseprice != null">
        #{purchaseprice,jdbcType=DECIMAL},
      </if>
      <if test="intime != null">
        #{intime,jdbcType=DATE},
      </if>
      <if test="repertorynum != null">
        #{repertorynum,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="pojo.RepertoryExample" resultType="java.lang.Integer">
    select count(*) from repertory
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update repertory
    <set>
      <if test="record.repertoryid != null">
        repertoryId = #{record.repertoryid,jdbcType=INTEGER},
      </if>
      <if test="record.carid != null">
        carId = #{record.carid,jdbcType=INTEGER},
      </if>
      <if test="record.companyid != null">
        companyId = #{record.companyid,jdbcType=INTEGER},
      </if>
      <if test="record.purchaseprice != null">
        purchasePrice = #{record.purchaseprice,jdbcType=DECIMAL},
      </if>
      <if test="record.intime != null">
        inTime = #{record.intime,jdbcType=DATE},
      </if>
      <if test="record.repertorynum != null">
        repertoryNum = #{record.repertorynum,jdbcType=DECIMAL},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update repertory
    set repertoryId = #{record.repertoryid,jdbcType=INTEGER},
      carId = #{record.carid,jdbcType=INTEGER},
      companyId = #{record.companyid,jdbcType=INTEGER},
      purchasePrice = #{record.purchaseprice,jdbcType=DECIMAL},
      inTime = #{record.intime,jdbcType=DATE},
      repertoryNum = #{record.repertorynum,jdbcType=DECIMAL}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="pojo.Repertory">
    update repertory
    <set>
      <if test="carid != null">
        carId = #{carid,jdbcType=INTEGER},
      </if>
      <if test="companyid != null">
        companyId = #{companyid,jdbcType=INTEGER},
      </if>
      <if test="purchaseprice != null">
        purchasePrice = #{purchaseprice,jdbcType=DECIMAL},
      </if>
      <if test="intime != null">
        inTime = #{intime,jdbcType=DATE},
      </if>
      <if test="repertorynum != null">
        repertoryNum = #{repertorynum,jdbcType=DECIMAL},
      </if>
    </set>
    where repertoryId = #{repertoryid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="pojo.Repertory">
    update repertory
    set carId = #{carid,jdbcType=INTEGER},
      companyId = #{companyid,jdbcType=INTEGER},
      purchasePrice = #{purchaseprice,jdbcType=DECIMAL},
      inTime = #{intime,jdbcType=DATE},
      repertoryNum = #{repertorynum,jdbcType=DECIMAL}
    where repertoryId = #{repertoryid,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="ssm.pojo.Repertory">
    <id column="repertoryId" jdbcType="INTEGER" property="repertoryid" />
    <result column="carId" jdbcType="INTEGER" property="carid" />
    <result column="companyId" jdbcType="INTEGER" property="companyid" />
    <result column="purchasePrice" jdbcType="DECIMAL" property="purchaseprice" />
    <result column="inTime" jdbcType="DATE" property="intime" />
    <result column="repertoryNum" jdbcType="DECIMAL" property="repertorynum" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    repertoryId, carId, companyId, purchasePrice, inTime, repertoryNum
  </sql>
  <select id="selectByExample" parameterType="ssm.pojo.RepertoryExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from repertory
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from repertory
    where repertoryId = #{repertoryid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from repertory
    where repertoryId = #{repertoryid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="ssm.pojo.RepertoryExample">
    delete from repertory
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="ssm.pojo.Repertory">
    insert into repertory (repertoryId, carId, companyId, 
      purchasePrice, inTime, repertoryNum
      )
    values (#{repertoryid,jdbcType=INTEGER}, #{carid,jdbcType=INTEGER}, #{companyid,jdbcType=INTEGER}, 
      #{purchaseprice,jdbcType=DECIMAL}, #{intime,jdbcType=DATE}, #{repertorynum,jdbcType=DECIMAL}
      )
  </insert>
  <insert id="insertSelective" parameterType="ssm.pojo.Repertory">
    insert into repertory
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="repertoryid != null">
        repertoryId,
      </if>
      <if test="carid != null">
        carId,
      </if>
      <if test="companyid != null">
        companyId,
      </if>
      <if test="purchaseprice != null">
        purchasePrice,
      </if>
      <if test="intime != null">
        inTime,
      </if>
      <if test="repertorynum != null">
        repertoryNum,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="repertoryid != null">
        #{repertoryid,jdbcType=INTEGER},
      </if>
      <if test="carid != null">
        #{carid,jdbcType=INTEGER},
      </if>
      <if test="companyid != null">
        #{companyid,jdbcType=INTEGER},
      </if>
      <if test="purchaseprice != null">
        #{purchaseprice,jdbcType=DECIMAL},
      </if>
      <if test="intime != null">
        #{intime,jdbcType=DATE},
      </if>
      <if test="repertorynum != null">
        #{repertorynum,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="ssm.pojo.RepertoryExample" resultType="java.lang.Integer">
    select count(*) from repertory
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update repertory
    <set>
      <if test="record.repertoryid != null">
        repertoryId = #{record.repertoryid,jdbcType=INTEGER},
      </if>
      <if test="record.carid != null">
        carId = #{record.carid,jdbcType=INTEGER},
      </if>
      <if test="record.companyid != null">
        companyId = #{record.companyid,jdbcType=INTEGER},
      </if>
      <if test="record.purchaseprice != null">
        purchasePrice = #{record.purchaseprice,jdbcType=DECIMAL},
      </if>
      <if test="record.intime != null">
        inTime = #{record.intime,jdbcType=DATE},
      </if>
      <if test="record.repertorynum != null">
        repertoryNum = #{record.repertorynum,jdbcType=DECIMAL},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update repertory
    set repertoryId = #{record.repertoryid,jdbcType=INTEGER},
      carId = #{record.carid,jdbcType=INTEGER},
      companyId = #{record.companyid,jdbcType=INTEGER},
      purchasePrice = #{record.purchaseprice,jdbcType=DECIMAL},
      inTime = #{record.intime,jdbcType=DATE},
      repertoryNum = #{record.repertorynum,jdbcType=DECIMAL}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="ssm.pojo.Repertory">
    update repertory
    <set>
      <if test="carid != null">
        carId = #{carid,jdbcType=INTEGER},
      </if>
      <if test="companyid != null">
        companyId = #{companyid,jdbcType=INTEGER},
      </if>
      <if test="purchaseprice != null">
        purchasePrice = #{purchaseprice,jdbcType=DECIMAL},
      </if>
      <if test="intime != null">
        inTime = #{intime,jdbcType=DATE},
      </if>
      <if test="repertorynum != null">
        repertoryNum = #{repertorynum,jdbcType=DECIMAL},
      </if>
    </set>
    where repertoryId = #{repertoryid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="ssm.pojo.Repertory">
    update repertory
    set carId = #{carid,jdbcType=INTEGER},
      companyId = #{companyid,jdbcType=INTEGER},
      purchasePrice = #{purchaseprice,jdbcType=DECIMAL},
      inTime = #{intime,jdbcType=DATE},
      repertoryNum = #{repertorynum,jdbcType=DECIMAL}
    where repertoryId = #{repertoryid,jdbcType=INTEGER}
  </update>
</mapper>